In [32]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [33]:
df = pd.read_csv("data/economy.csv")
df.head()

,date,airline,ch_code,num_code,dep_time,from,time_taken,stop,arr_time,to,price
0,11-02-2022,SpiceJet,SG,8709,18:55,Delhi,02h 10m,non-stop,21:05,Mumbai,"5,953"
1,11-02-2022,SpiceJet,SG,8157,06:20,Delhi,02h 20m,non-stop,08:40,Mumbai,"5,953"
2,11-02-2022,AirAsia,I5,764,04:25,Delhi,02h 10m,non-stop,06:35,Mumbai,"5,956"
3,11-02-2022,Vistara,UK,995,10:20,Delhi,02h 15m,non-stop,12:35,Mumbai,"5,955"
4,11-02-2022,Vistara,UK,963,08:50,Delhi,02h 20m,non-stop,11:10,Mumbai,"5,955"

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206774 entries, 0 to 206773
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        206774 non-null  object
 1   airline     206774 non-null  object
 2   ch_code     206774 non-null  object
 3   num_code    206774 non-null  int64
 4   dep_time    206774 non-null  object
 5   from        206774 non-null  object
 6   time_taken  206774 non-null  object
 7   stop        206774 non-null  object
 8   arr_time    206774 non-null  object
 9   to          206774 non-null  object
 10  price       206774 non-null  object
dtypes: int64(1), object(10)
memory usage: 17.4+ MB

In [35]:
df.describe() # mostly useless as num_code indicates flight number

            num_code
count  206774.000000
mean     1706.096714
std      2320.463721
min       101.000000
25%       588.000000
50%       818.000000
75%       960.000000
max      9991.000000

In [36]:
df.head()

,date,airline,ch_code,num_code,dep_time,from,time_taken,stop,arr_time,to,price
0,11-02-2022,SpiceJet,SG,8709,18:55,Delhi,02h 10m,non-stop,21:05,Mumbai,"5,953"
1,11-02-2022,SpiceJet,SG,8157,06:20,Delhi,02h 20m,non-stop,08:40,Mumbai,"5,953"
2,11-02-2022,AirAsia,I5,764,04:25,Delhi,02h 10m,non-stop,06:35,Mumbai,"5,956"
3,11-02-2022,Vistara,UK,995,10:20,Delhi,02h 15m,non-stop,12:35,Mumbai,"5,955"
4,11-02-2022,Vistara,UK,963,08:50,Delhi,02h 20m,non-stop,11:10,Mumbai,"5,955"

In [37]:
## Feature Engineering -- split date into day, month, year
df['day']=df['date'].str.split("-").str[0]
df['month']=df['date'].str.split("-").str[1]
df['year']=df['date'].str.split("-").str[2]

df.head()

,date,airline,ch_code,num_code,dep_time,from,time_taken,stop,arr_time,to,price,day,month,year
0,11-02-2022,SpiceJet,SG,8709,18:55,Delhi,02h 10m,non-stop,21:05,Mumbai,"5,953",11,02,2022
1,11-02-2022,SpiceJet,SG,8157,06:20,Delhi,02h 20m,non-stop,08:40,Mumbai,"5,953",11,02,2022
2,11-02-2022,AirAsia,I5,764,04:25,Delhi,02h 10m,non-stop,06:35,Mumbai,"5,956",11,02,2022
3,11-02-2022,Vistara,UK,995,10:20,Delhi,02h 15m,non-stop,12:35,Mumbai,"5,955",11,02,2022
4,11-02-2022,Vistara,UK,963,08:50,Delhi,02h 20m,non-stop,11:10,Mumbai,"5,955",11,02,2022

In [38]:
df['day'] = df['day'].astype(int)
df['month'] = df['month'].astype(int)
df['year'] = df['year'].astype(int)

In [39]:
df.head()

,date,airline,ch_code,num_code,dep_time,from,time_taken,stop,arr_time,to,price,day,month,year
0,11-02-2022,SpiceJet,SG,8709,18:55,Delhi,02h 10m,non-stop,21:05,Mumbai,"5,953",11,2,2022
1,11-02-2022,SpiceJet,SG,8157,06:20,Delhi,02h 20m,non-stop,08:40,Mumbai,"5,953",11,2,2022
2,11-02-2022,AirAsia,I5,764,04:25,Delhi,02h 10m,non-stop,06:35,Mumbai,"5,956",11,2,2022
3,11-02-2022,Vistara,UK,995,10:20,Delhi,02h 15m,non-stop,12:35,Mumbai,"5,955",11,2,2022
4,11-02-2022,Vistara,UK,963,08:50,Delhi,02h 20m,non-stop,11:10,Mumbai,"5,955",11,2,2022

In [40]:
# drop date column as it's no longer required

In [41]:
df.drop("date", axis=1, inplace=True)

In [42]:
df.head()

,airline,ch_code,num_code,dep_time,from,time_taken,stop,arr_time,to,price,day,month,year
0,SpiceJet,SG,8709,18:55,Delhi,02h 10m,non-stop,21:05,Mumbai,"5,953",11,2,2022
1,SpiceJet,SG,8157,06:20,Delhi,02h 20m,non-stop,08:40,Mumbai,"5,953",11,2,2022
2,AirAsia,I5,764,04:25,Delhi,02h 10m,non-stop,06:35,Mumbai,"5,956",11,2,2022
3,Vistara,UK,995,10:20,Delhi,02h 15m,non-stop,12:35,Mumbai,"5,955",11,2,2022
4,Vistara,UK,963,08:50,Delhi,02h 20m,non-stop,11:10,Mumbai,"5,955",11,2,2022

In [43]:
df['arrival_hour'] = df['arr_time'].str.split(':').str[0]
df['arrival_minute'] = df['arr_time'].str.split(':').str[1]

In [44]:
df.head()

,airline,ch_code,num_code,dep_time,from,time_taken,stop,arr_time,to,price,day,month,year,arrival_hour,arrival_minute
0,SpiceJet,SG,8709,18:55,Delhi,02h 10m,non-stop,21:05,Mumbai,"5,953",11,2,2022,21,05
1,SpiceJet,SG,8157,06:20,Delhi,02h 20m,non-stop,08:40,Mumbai,"5,953",11,2,2022,08,40
2,AirAsia,I5,764,04:25,Delhi,02h 10m,non-stop,06:35,Mumbai,"5,956",11,2,2022,06,35
3,Vistara,UK,995,10:20,Delhi,02h 15m,non-stop,12:35,Mumbai,"5,955",11,2,2022,12,35
4,Vistara,UK,963,08:50,Delhi,02h 20m,non-stop,11:10,Mumbai,"5,955",11,2,2022,11,10

In [45]:
df['arrival_hour'] = df['arrival_hour'].astype(int)
df['arrival_minute'] = df['arrival_minute'].astype(int)

In [46]:
df

,airline,ch_code,num_code,dep_time,from,time_taken,stop,arr_time,to,price,day,month,year,arrival_hour,arrival_minute
0,SpiceJet,SG,8709,18:55,Delhi,02h 10m,non-stop,21:05,Mumbai,"5,953",11,2,2022,21,5
1,SpiceJet,SG,8157,06:20,Delhi,02h 20m,non-stop,08:40,Mumbai,"5,953",11,2,2022,8,40
2,AirAsia,I5,764,04:25,Delhi,02h 10m,non-stop,06:35,Mumbai,"5,956",11,2,2022,6,35
3,Vistara,UK,995,10:20,Delhi,02h 15m,non-stop,12:35,Mumbai,"5,955",11,2,2022,12,35
4,Vistara,UK,963,08:50,Delhi,02h 20m,non-stop,11:10,Mumbai,"5,955",11,2,2022,11,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206769,Vistara,UK,832,07:05,Chennai,13h 50m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,20:55,Hyderabad,"7,697",31,3,2022,20,55
206770,Vistara,UK,832,07:05,Chennai,13h 50m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,20:55,Hyderabad,"7,709",31,3,2022,20,55
206771,Vistara,UK,826,12:30,Chennai,20h 35m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,09:05,Hyderabad,"8,640",31,3,2022,9,5
206772,Vistara,UK,822,09:45,Chennai,23h 20m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,09:05,Hyderabad,"8,640",31,3,2022,9,5
206773,Vistara,UK,824,20:30,Chennai,24h 25m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,20:55,Hyderabad,"8,640",31,3,2022,20,55

In [47]:
# drop arr_time

df.drop('arr_time', axis=1, inplace=True)

In [48]:
df

,airline,ch_code,num_code,dep_time,from,time_taken,stop,to,price,day,month,year,arrival_hour,arrival_minute
0,SpiceJet,SG,8709,18:55,Delhi,02h 10m,non-stop,Mumbai,"5,953",11,2,2022,21,5
1,SpiceJet,SG,8157,06:20,Delhi,02h 20m,non-stop,Mumbai,"5,953",11,2,2022,8,40
2,AirAsia,I5,764,04:25,Delhi,02h 10m,non-stop,Mumbai,"5,956",11,2,2022,6,35
3,Vistara,UK,995,10:20,Delhi,02h 15m,non-stop,Mumbai,"5,955",11,2,2022,12,35
4,Vistara,UK,963,08:50,Delhi,02h 20m,non-stop,Mumbai,"5,955",11,2,2022,11,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206769,Vistara,UK,832,07:05,Chennai,13h 50m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"7,697",31,3,2022,20,55
206770,Vistara,UK,832,07:05,Chennai,13h 50m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"7,709",31,3,2022,20,55
206771,Vistara,UK,826,12:30,Chennai,20h 35m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"8,640",31,3,2022,9,5
206772,Vistara,UK,822,09:45,Chennai,23h 20m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"8,640",31,3,2022,9,5
206773,Vistara,UK,824,20:30,Chennai,24h 25m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"8,640",31,3,2022,20,55

In [49]:
# fix dep_time too
df['dep_hour'] = df['dep_time'].str.split(":").str[0]
df['dep_minute'] = df['dep_time'].str.split(":").str[1]
df

,airline,ch_code,num_code,dep_time,from,time_taken,stop,to,price,day,month,year,arrival_hour,arrival_minute,dep_hour,dep_minute
0,SpiceJet,SG,8709,18:55,Delhi,02h 10m,non-stop,Mumbai,"5,953",11,2,2022,21,5,18,55
1,SpiceJet,SG,8157,06:20,Delhi,02h 20m,non-stop,Mumbai,"5,953",11,2,2022,8,40,06,20
2,AirAsia,I5,764,04:25,Delhi,02h 10m,non-stop,Mumbai,"5,956",11,2,2022,6,35,04,25
3,Vistara,UK,995,10:20,Delhi,02h 15m,non-stop,Mumbai,"5,955",11,2,2022,12,35,10,20
4,Vistara,UK,963,08:50,Delhi,02h 20m,non-stop,Mumbai,"5,955",11,2,2022,11,10,08,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206769,Vistara,UK,832,07:05,Chennai,13h 50m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"7,697",31,3,2022,20,55,07,05
206770,Vistara,UK,832,07:05,Chennai,13h 50m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"7,709",31,3,2022,20,55,07,05
206771,Vistara,UK,826,12:30,Chennai,20h 35m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"8,640",31,3,2022,9,5,12,30
206772,Vistara,UK,822,09:45,Chennai,23h 20m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"8,640",31,3,2022,9,5,09,45
206773,Vistara,UK,824,20:30,Chennai,24h 25m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"8,640",31,3,2022,20,55,20,30

In [50]:
df.drop("dep_time", axis=1, inplace=True)
df

,airline,ch_code,num_code,from,time_taken,stop,to,price,day,month,year,arrival_hour,arrival_minute,dep_hour,dep_minute
0,SpiceJet,SG,8709,Delhi,02h 10m,non-stop,Mumbai,"5,953",11,2,2022,21,5,18,55
1,SpiceJet,SG,8157,Delhi,02h 20m,non-stop,Mumbai,"5,953",11,2,2022,8,40,06,20
2,AirAsia,I5,764,Delhi,02h 10m,non-stop,Mumbai,"5,956",11,2,2022,6,35,04,25
3,Vistara,UK,995,Delhi,02h 15m,non-stop,Mumbai,"5,955",11,2,2022,12,35,10,20
4,Vistara,UK,963,Delhi,02h 20m,non-stop,Mumbai,"5,955",11,2,2022,11,10,08,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206769,Vistara,UK,832,Chennai,13h 50m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"7,697",31,3,2022,20,55,07,05
206770,Vistara,UK,832,Chennai,13h 50m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"7,709",31,3,2022,20,55,07,05
206771,Vistara,UK,826,Chennai,20h 35m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"8,640",31,3,2022,9,5,12,30
206772,Vistara,UK,822,Chennai,23h 20m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"8,640",31,3,2022,9,5,09,45
206773,Vistara,UK,824,Chennai,24h 25m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"8,640",31,3,2022,20,55,20,30

In [51]:
# convert departures to int
df['dep_hour'] = df['dep_hour'].astype(int)
df['dep_minute'] = df['dep_minute'].astype(int)

df

,airline,ch_code,num_code,from,time_taken,stop,to,price,day,month,year,arrival_hour,arrival_minute,dep_hour,dep_minute
0,SpiceJet,SG,8709,Delhi,02h 10m,non-stop,Mumbai,"5,953",11,2,2022,21,5,18,55
1,SpiceJet,SG,8157,Delhi,02h 20m,non-stop,Mumbai,"5,953",11,2,2022,8,40,6,20
2,AirAsia,I5,764,Delhi,02h 10m,non-stop,Mumbai,"5,956",11,2,2022,6,35,4,25
3,Vistara,UK,995,Delhi,02h 15m,non-stop,Mumbai,"5,955",11,2,2022,12,35,10,20
4,Vistara,UK,963,Delhi,02h 20m,non-stop,Mumbai,"5,955",11,2,2022,11,10,8,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206769,Vistara,UK,832,Chennai,13h 50m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"7,697",31,3,2022,20,55,7,5
206770,Vistara,UK,832,Chennai,13h 50m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"7,709",31,3,2022,20,55,7,5
206771,Vistara,UK,826,Chennai,20h 35m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"8,640",31,3,2022,9,5,12,30
206772,Vistara,UK,822,Chennai,23h 20m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"8,640",31,3,2022,9,5,9,45
206773,Vistara,UK,824,Chennai,24h 25m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,Hyderabad,"8,640",31,3,2022,20,55,20,30

In [52]:
df.at[206770, "stop"]

'1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t'

In [53]:
df['stop'].unique()

array(['non-stop ',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia IXU\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Chennai\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Indore\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia RPR\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '2+-stop',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Lucknow\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia GOP\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Raipur\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Nagpur\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Surat\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Hyderabad\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia STV\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia IDR\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia VTZ\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Guwahati\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia NAG\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Vishakhapatnam\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia NDC\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia IXE\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Patna\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia PAT\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Mangalore\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Mumbai\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia KLH\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia MYQ\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Kolkata\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Delhi\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Kolhapur\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia JRG\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Bhubaneswar\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Ranchi\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia IXR\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia JGB\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia BBI\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop\n\t\t\t\t\t\t\t\t\t\t\t\tVia Mysore\n\t\t\t\t\t\t\t\t\t\t\t\t',
       '1-stop'], dtype=object)

In [54]:
df['stop'] = df['stop'].str.split("\n").str[0]
df['stop']

df['stop'].unique()

array(['non-stop ', '1-stop', '2+-stop'], dtype=object)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206774 entries, 0 to 206773
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   airline         206774 non-null  object
 1   ch_code         206774 non-null  object
 2   num_code        206774 non-null  int64
 3   from            206774 non-null  object
 4   time_taken      206774 non-null  object
 5   stop            206774 non-null  object
 6   to              206774 non-null  object
 7   price           206774 non-null  object
 8   day             206774 non-null  int64
 9   month           206774 non-null  int64
 10  year            206774 non-null  int64
 11  arrival_hour    206774 non-null  int64
 12  arrival_minute  206774 non-null  int64
 13  dep_hour        206774 non-null  int64
 14  dep_minute      206774 non-null  int64
dtypes: int64(8), object(7)
memory usage: 23.7+ MB

In [56]:
df

,airline,ch_code,num_code,from,time_taken,stop,to,price,day,month,year,arrival_hour,arrival_minute,dep_hour,dep_minute
0,SpiceJet,SG,8709,Delhi,02h 10m,non-stop,Mumbai,"5,953",11,2,2022,21,5,18,55
1,SpiceJet,SG,8157,Delhi,02h 20m,non-stop,Mumbai,"5,953",11,2,2022,8,40,6,20
2,AirAsia,I5,764,Delhi,02h 10m,non-stop,Mumbai,"5,956",11,2,2022,6,35,4,25
3,Vistara,UK,995,Delhi,02h 15m,non-stop,Mumbai,"5,955",11,2,2022,12,35,10,20
4,Vistara,UK,963,Delhi,02h 20m,non-stop,Mumbai,"5,955",11,2,2022,11,10,8,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206769,Vistara,UK,832,Chennai,13h 50m,1-stop,Hyderabad,"7,697",31,3,2022,20,55,7,5
206770,Vistara,UK,832,Chennai,13h 50m,1-stop,Hyderabad,"7,709",31,3,2022,20,55,7,5
206771,Vistara,UK,826,Chennai,20h 35m,1-stop,Hyderabad,"8,640",31,3,2022,9,5,12,30
206772,Vistara,UK,822,Chennai,23h 20m,1-stop,Hyderabad,"8,640",31,3,2022,9,5,9,45
206773,Vistara,UK,824,Chennai,24h 25m,1-stop,Hyderabad,"8,640",31,3,2022,20,55,20,30

In [57]:
# categorical encoding on stops
['non-stop ', '1-stop', '2+-stop']
df['stop'] = df['stop'].map({
    'non-stop ':0, 
    '1-stop':1, 
    '2+-stop':2
})

df

,airline,ch_code,num_code,from,time_taken,stop,to,price,day,month,year,arrival_hour,arrival_minute,dep_hour,dep_minute
0,SpiceJet,SG,8709,Delhi,02h 10m,0,Mumbai,"5,953",11,2,2022,21,5,18,55
1,SpiceJet,SG,8157,Delhi,02h 20m,0,Mumbai,"5,953",11,2,2022,8,40,6,20
2,AirAsia,I5,764,Delhi,02h 10m,0,Mumbai,"5,956",11,2,2022,6,35,4,25
3,Vistara,UK,995,Delhi,02h 15m,0,Mumbai,"5,955",11,2,2022,12,35,10,20
4,Vistara,UK,963,Delhi,02h 20m,0,Mumbai,"5,955",11,2,2022,11,10,8,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206769,Vistara,UK,832,Chennai,13h 50m,1,Hyderabad,"7,697",31,3,2022,20,55,7,5
206770,Vistara,UK,832,Chennai,13h 50m,1,Hyderabad,"7,709",31,3,2022,20,55,7,5
206771,Vistara,UK,826,Chennai,20h 35m,1,Hyderabad,"8,640",31,3,2022,9,5,12,30
206772,Vistara,UK,822,Chennai,23h 20m,1,Hyderabad,"8,640",31,3,2022,9,5,9,45
206773,Vistara,UK,824,Chennai,24h 25m,1,Hyderabad,"8,640",31,3,2022,20,55,20,30